/* Variables */

$color-main: #f1c40f;
$color-one: #fff; /* bialy */
$color-two: #2c3e50; /* granatowy */

$font-header: 'Balsamiq Sans', cursive;
$font-text: 'Baloo 2', cursive;
$font-logo: 'Lobster', cursive;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body  {
margin: 0;
font-size: 16px;
line-height: 1.7; /* interlinia */
font-family: $font-text;
color: $color-two;
}

.container {
margin: 0 auto;
padding: 0 20px;
max-width: 1140px;
}

/* Navigation */

.navigation {
    background: $color-two;
    padding: 12px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin-right: 36px;
            position: relative;

            a {
                text-decoration: none;
                color: $color-one;
                
                &:hover {
                    color: $color-main;
                }
            }

            &:first-child {
                margin-right: 500px;
                font-family: $font-logo;
                font-size: 30px;
                font-style: italic;

                a {
                    color: $color-main;

                    &:hover {
                        color:$color-one;
                    }
                }
            }
        }   
    }
}

/* Header - splash */

.splash {
    background: $color-two;
    /*background-image: url("images/header-photo.jpeg");*/
    color: $color-one;
    min-height: 500px;
    display: flex;
    text-align: center;


    .splash-inner {
        margin: auto; /* tyle wystarczy gdy masz ustawionego flexa w rodzicu */
        max-width: 70%;
    
        .page-title {
            margin: 0;
            font-size: 40px;
            font-weight: 100;
            line-height: 1.2;
            font-style: italic;
            text-transform: capitalize;
        }

        .page-subtitle {
            margin: 10px 0;
            font-weight: 300;
            font-size: 72px;
            font-family: $font-header;
            text-transform: uppercase;
        }

        .btn {
            display: inline-block;
            min-width: 220px;
            margin: 24px auto 0 auto;
            padding: 16px;
            border-radius: 5px;
            font-family: $font-text;
            font-size: 18px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            border-width: 2px;
            border-style: solid;
            background: $color-main;
            color: $color-one;
            border-color: $color-main;
        }
    }
}